<!--{
    color: gold;
    background-color: #a1a;
    font-size: 20px;
    
 }-->

html {
    
    color: white;
}


a {   
    color: white;   
}


h1 {
    font-size: 60px;
    -webkit-text-stroke: 3px black;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

 #Education div {
        background-color: blue;
    

}

h2 {
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

h3{
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}



body {
        background-color: #ff6600;
        font-family: monospace;
        text-align: center;       
    }


ul {
    list-style-type: none;
}