*{ 
    box-sizing: border-box;
}

p {

    margin-left: 10px;
    float: left;
}

body {
    border-style: dotted;
    border-width: thick;
}

h2 {
	width:180px;
	height: 23px;
	text-align: left;
	float:left;
	padding:0;
	margin:0;
	clear:both;
	font-size:22pt;
	margin-bottom:18px;
	color:#1b4491;
}

h3 {
	width:180px;
	text-align: left;
    margin-left: 4px;
	float:left;
	padding:0;
	clear:both;
	font-size: 13pt;
	color:black;
}

.personaldetails {
    /*position: fixed;*/
    width: 100%;
    clear: both;
    padding-left: 10px;
    padding-right: -10px;
    margin: 10px;
    border-style: solid;
    border-width: thin;
}

.workexperience {
    
    float: left;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: thin;
}

.education {
    
    float: left;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: thin;
}

div.wecontent {
    padding-top: 10px;
    clear: both;
    margin-left: 4px;
}

ul.welist {
    margin: 0;
    padding: 0;
    float: left;
    margin-left: 10px;
    margin-top: -6px;
    list-style-type: none;
}

div.econtent.welist
{
    margin: 0;
    padding: 10px;
    float: left;
    margin-left: 10px;
    margin-top: -6px;
    list-style-type: none;
}


div.econtent p {
    display: block;
    padding: 10px;
    clear: both;
    margin-left: 4px;
}


.contactform {
    width: 100%;
    display: block;
    clear: both;
    padding: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: thin;
}

@media screen and (min-width: 500px) {
                section.workexperience{
                    width: 50%;
                    float: left;
                }
                section.education{
                    width: 50%;
                    float: left;
                }
    Body {font-size: 1.3em;}
}
    

 @media screen and (min-width: 800px) {
                /* If the screen is over 800px, make the section 40% and aside 20%*/
                section {
                    width: 50%; 
                    float: left;
    
                   
                
            }
 }
               /* aside {
                    width: 20%;
                    float: left;
                    
                }*/