ul{
	list-style-type: square;
	list-style-position: outside;
}

/*p{
	color:red;
	background-color: #a1a1a1;
	font-size:13px;

} */

img{
	float:right;
}

.hidden{
	display: none;
}

.unhidden{
	display: block;
}

.main-navigation
@media screen and (min-width: 600px){
	.Header{
		text-align: center;
		font-size: 2em;
	}

	span{
		text-align: center;
	}
	footer{
		text-align: center;
	}
}





/*span {
	background-color: #a1a1a1;
	height: 200px;
	padding: 50px;
	display: inline-block;
}*/

