  <!--p {
            color: red;					
            background-color: #00ffff;
            font-size: 12px;
    }-->

li  {
            color: green;					
            background-color: #000fff;
            font-size: 12px;
    }

.education {
            color: brown;					
            background-color: #00000f;
            font-size: 16px;
}

