html{
	width: 100%;
	font-family: 'Lato', sans-serif;
 	font-size: 20px;
}
body {
	background-color: #C2FFAD;
	width: 100%;
}

.container{
	box-sizing: border-box; 
	border: 5px solid #33801A;
	border-radius: 25px;
	margin: 0 auto;
	background-color: white;
	width:70%;
 	
 	
}
.pagecontainer{
	padding: 10px;
}
.nav{
	display: block;
	background-color: #F5F5F0;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 10px; 
	text-align: center;	 
	border-bottom: 2px solid #33801A;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	
}

h1{
	text-align: center;
	font-size: 25px;
}
.iconcontainer{
	float: right;
	position:fixed;
	right: 50px; 
	top: 50px;
}
.iconimg{
	box-sizing: border-box;
	padding: 0px 0px 0px 2px;
}
.BacktoTop{
	float: right;
	position:fixed;
	right: 50px; 
	bottom: 10px;
	margin: 10px;
}
a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #33801A;
    text-decoration: none;
}

a:hover {
    color: 	#19A347;
    text-decoration: none;
}

a:active {
    color: #C2FFAD;
    text-decoration: none;
}
.phoneicon, .emailicon, .homeicon, .giticon, .linkedinicon{
	background-color: #FFFFFF;
	border: 3px solid #FFFFFF;
	border-radius: 100px;
	width: 70px;
	height: 70px;
	margin: 10px;
}
.formcontainer{
	box-sizing: border-box;
	padding: 5px;
}
.education, .personal, .qualification, .workexp, .systemexp{
	padding: 5px;
}
.footer{
	
	background-color: #F5F5F0;
	box-sizing: border-box; 
	border-top: 2px solid #33801A;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;	
 }
