html{
	width: 100%;
	font-family:Verdana;
 	font-size: 15px;
}
body {
	background-color: #C2FFAD;
	width: 100%;
}

.container{
	box-sizing: border-box; 
	border: 5px solid #33801A;
	border-radius: 25px;
	margin: 0 auto;
	background-color: white;
	width:70%;
 	
 	
}
.pagecontainer{
	padding: 10px;
}
.nav{
	display: block;
	padding: 1px; 
	text-align: center;
	}
.nav li {
    display: inline;
    
}
.p progress{
	text-align: center;
}

h1{
	text-align: center;
	font-size: 25px;
}

.footer{
	
	background-color: #F5F5F0;
	box-sizing: border-box; 
	border-top: 2px solid #33801A;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	margin: 0 auto;
	padding: 5px;
 }
