 	body {
		background-color: #60A88E;
		display: block;
		}
		
	h1 {
		text-align: center;
		}
	h3 {
		text-align: left;
		padding: 3px;
		}
		
	li {
		font-size: 14px;
		}
		
	.info {
		text-align: center;
		color: black;
		font-size: 14px;
		font-family: "serif;
		}
		
	.message{
		text-align: center;
		} 
		
	.skill {
		color: black;
		font-size: 14px;
		font-family: "serif;
		} 
	
	.summary {
		text-align: left;
		color: black;
		font-size: 14px;
		padding: 2em;
	}
	
	
	
	
	