 	body {
		background-color: orange;
		display: block;
		}
		
	h1 {
		text-align: center;
		}
	h3 {
		text-align: center;
		}
		
	li {
		font-size: 14px;
		}
		
	.info {
		text-align: center;
		color: black;
		font-size: 14px;
		font-family: "serif;
		}
		
	.skill {
		color: black;
		font-size: 14px;
		font-family: "serif;
		} 
	
	.summary {
		text-align: center;
		color: black;
		font-size: 14px;
		border: ridge;
		border-color: black; 
	}
	
	
	
	
	